<md-toolbar color="primary">
    <span><img src="/assets/images/logo.png" height=30 width=41></span>
    <a md-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
    <a md-button routerLink="/aboutus"><span class="fa fa-info fa-lg"></span> About</a>
    <a md-button routerLink="/menu" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Menu</a>
    <a md-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class="flex-spacer"></span>
    <a md-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</md-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
    <!--上述属性要搞明白什么情况-->
    <!-- what does 70% means when I shrink the screen why it cant display normaly-->
    <div fxFlex fxFlex.gt-sm="70%">
      <h1>NH1900 Con Fusion</h1>
      <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="30%">
      <img src="/assets/images/logo.png" height="120" width="170" alt="Logo">
    </div>
    <div fxFlex></div>
  </div>