<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3>About Us</h3>
               <hr>
            </div>
     </div>

      <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="70">
              <h2>Our History</h2>
              <p>Started in 2018, NH1900</p>
              <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em></p>
          </div>
          <div fxFlex="30">
              <md-card>
                <md-card-header>
                  <md-card-title>
                  <h2>Facts At a Glance</h2>
                  </md-card-title>
                </md-card-header>
                <md-card-content>
                        <dl>
                            <dt>Started</dt>
                            <dd>3 Feb. 2013</dd>
                            <dt>Major Stake Holder</dt>
                            <dd>HK Fine Foods Inc.</dd>
                            <dt>Last Year's Turnover</dt>
                            <dd>$1,250,375</dd>
                            <dt>Employees</dt>
                            <dd>40</dd>
                       </dl>
                </md-card-content>
              </md-card>
          </div>
        </div>
      </div>
      
      <div fxFlex>
                <md-card>
                    <blockquote>
                        <h3>You better cut the pizza in four pieces because
                            I'm not hungry enough to eat six.</h3>
                        <footer>-- Yogi Berra,
                          <cite>The Wit and Wisdom of Yogi Berra,
                            P. Pepe, Diversion Books, 2014</cite>
                        </footer>
                    </blockquote>
                </md-card>
      </div>


        <div fxFlex *ngIf="leaders"  [@expand]>
          <h2>Corporate Leadership</h2>
          <md-grid-list cols="2" rowHeight="100px">
            <md-grid-tile *ngFor="let leader of leaders">
              <img height="100px" src="{{BaseURL +leader.image}}" alt={{leader.name}}>
              <md-grid-tile-footer>
                <h1 md-line>{{leader.name | uppercase}}</h1>
              </md-grid-tile-footer>  
              <div [hidden]="leader || leaderErrMess">
                  <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
                </div>
                <div *ngIf="leaderErrMess">
                  <h2>Error</h2>
                  <h4>{{errMess}}</h4>
                </div>
            </md-grid-tile>  
          </md-grid-list>
       </div>
       
       

       
</div>