<div class="container" fxLayout="column" fxLayoutGap="10px" >
  <div fxFlex>
      <div>
        <h3> Menu</h3>
        <hr>  
      </div>
  </div>

  <div fxFlex *ngIf="dishes">
      <md-grid-list cols="2" rowHeight="200px">
        <md-grid-tile *ngFor="let dishx of dishes" [routerLink]="['/dishdetail', dishx.id]"><!--(click)="onSelect(dishx)">-->
          <img height="200px" src={{dishx.image}} alt={{dishx.name}}>
          <md-grid-tile-footer>
            <h1 md-line>{{dishx.name | uppercase}}</h1>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
  </div>
  <div [hidden]="dishes">
      <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  
  <!--<div fxFlex *ngIf="selectedDish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{selectedDish.name | uppercase}}</h3>  
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{selectedDish.image}}" alt="{{selectedDish.name}}">
      <md-card-content>
        <p> {{selectedDish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>Like</button>
        <button md-button>Share</button>  
      </md-card-actions>
    </md-card>
  </div>-->
  <!--<app-dishdetail [disha]="selectedDish"></app-dishdetail>-->
</div>
