h2{
    color:black;
    margin:20px;
    display:flex;
}

p{
    color:black;
    margin:20px;
    display:flex;
}

.form-size{
    color:black;
    background-color:lightblue;
}

.full-width {
    width: 95%
}
