<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <!--fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" -->
  <div fxFlex="40" *ngIf="disha" [@visibility]="visibility"  [@expand]>
      <md-card >
          <md-card-header>
            <md-card-title>
              <h3>{{disha.name | uppercase}}</h3>  
            </md-card-title>
          </md-card-header>
          <img md-card-image src="{{BaseURL + disha.image}}" alt="{{disha.name}}">
          <md-card-content>
            <p> {{disha.description}}</p>
          </md-card-content>
          <md-card-actions>
            <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button md-button (click)="goBack()">BACK</button>
            <button md-button>Like</button>
            <button md-button>Share</button>  
            <span class="flex-spacer"></span>
            <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
          </md-card-actions>
        </md-card>
        <div [hidden]="disha || errMess">
          <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
        </div>
        <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div>
  </div>
  
  <div fxFlex="40" *ngIf="disha" [@visibility]="visibility"  [@expand]>
      <md-list  >
        <h1> <b>Comment</b></h1>
        <md-list-item *ngFor="let dish2 of disha.comments">
          <h2 md-line>{{dish2.comment}}</h2>
          <p md-line>
            <span>{{dish2.rating}} Stars</span>
          </p>
          
          <p md-line>--{{dish2.author}} {{dish2.date | date}}</p>
        </md-list-item>  
      </md-list>
      <div [hidden]="disha || errMess">
        <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
      
      <form class="form" novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
        <p>
          <md-input-container class="full-width">
            <textarea mdInput formControlName="author" placeholder="Your Name" ></textarea>
          </md-input-container> 
        </p>
        
        <p>
          <md-input-container class="full-width">
            <textarea class="place" mdInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          </md-input-container> 
        </p>
      </form>
  
  </div>
</div>